<mat-toolbar>
  Side size:&nbsp;&nbsp;<input #sideInput
         type="number"
         value="{{side}}" />
  <button (click)="updateSide(sideInput)">Render board</button>
  <button (click)="playGame()">Play</button>
  <button (click)="stopGame()">Pause</button>
</mat-toolbar>
<div class="board-container">
  <div class="board">
    <ng-container *ngFor="let row of board; index as iRow; trackBy rowTrackBy;">
      <ng-container *ngFor="let cell of row; index as iCell; last as last; trackBy cellTrackBy;">
        <div class="cell {{!cell.value ? 'death' : 'alive'}}"
             [ngStyle]="cellSize"
             (mousedown)="handleClick(iRow, iCell)"
             (mouseenter)="handleMouse(iRow, iCell, $event)"></div>
      </ng-container>
    </ng-container>
  </div>
</div>